.main-container {
    background: white;
    padding: 10px;
    margin: auto;
    height: 85%;
    width: 75%;
}

.members {
    border: 1px solid grey;
    border-radius: 10px;
    height: 650px;
    width: 650px;
    margin: auto;
    margin-top: 20px;
}